@import "../../layout/variable";

.error-component{
  margin-top: 5rem;
  text-align: center;
  &--title{
    color: var(--color-secondary);
    margin-bottom: 3rem;
  }
  &--text{
    font-size: 1.4rem;
    margin-bottom: 3rem;
  }
  &--link{
    background-color: var(--color-primary);
    padding: 1rem 2rem;
    color: var(--color-white);
    border-radius: 1rem;
  }
}